body {
  background-color: black;
  padding: 0;
  min-height: 100vh;
  height: 750px;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body::-webkit-scrollbar {
  display: none;
}

.custom-file-input {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  margin-left: -100px;
}

.custom-file-input img {
  display: block;
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */

}

.update-file {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  cursor: pointer;
}

.update-button{
    appearance: button;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: #000000 4px 4px 0 0,#ffffff 4px 4px 0 1px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    position: absolute;
    top: 75%;
    right: 35%;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .update-button:focus {
    text-decoration: none;
  }
  
  .update-button:hover {
    text-decoration: none;
  }
  
  .update-button:active {
    box-shadow: rgba(255, 255, 255, 0.125) 0 3px 5px inset;
    outline: 0;
  }
  
  .update-button:not([disabled]):active {
    box-shadow: #000000 2px 2px 0 0, #ffffff 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

  .drag-over {
    border: 2px dashed #ccc;
}

.a-continer {
  margin-top: 350px;
  background-color: rgb(255, 255, 255);
  width: 700px;
  position: absolute;
  height: 400px;
  border-radius: 10px; /* Add a slight curve */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
  transition: box-shadow 0.3s, transform 0.3s; 
  left: 50%;
  transform: translateX(-50%);
}

.header {
  margin-top: 250px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  position: absolute; 
  z-index: 9;       
}

.title h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-left: 50px;
  color: rgb(255, 255, 255); /* Replace 'red' with your desired color */
}

.content-s {
  width: 500px;
  height: 378px;
  position: absolute; 
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);            
  border-radius: 5px;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 5px;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgb(255, 255, 255);
}

.content-r {
  width: 500px;
  height: 378px;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);         
  border-radius: 5px;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 5px;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgb(255, 255, 255);
}

.content-s-r {
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgb(255, 255, 255);
}

.popup-bg {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px;
  overflow: hidden;
  touch-action: none;
}

.popup-bg input {
  pointer-events: none; 
}

.disable-scroll {
  overflow: hidden;
}

.copy-icon {
  position: absolute;
  display: inline-block;
  margin-right: 10px;
  left: 225px;
  margin-top:100px;
  width: 20px; 
  height: 20px; 
}

.copy-icon img {
  width: 100%; 
  height: auto;
}

.copy-icon .copy-text {
  display: none;
}

.copy-icon:nth-child(1) {
  z-index: 9;
  top: 213px; 
}

.copy-icon:nth-child(2) {
  z-index: 9;
  top: 71px; 
}

.output-3 .copy-icon {
  z-index: 9;
  top:65%; 
  left: 90%;
}



.popup {
  z-index: 99;
  min-width: 400px;
  max-width: 500px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.username,
.pin {
  margin-left: 50%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.username {
  margin-top:10%;
}

.pin {
  margin-top:10%;
}

.username span,
.pin span {
  margin-left: 1px;
  font-weight: normal;
  align-items: center; 
  color: white;
}

button.close {
  border: 2px solid rgba(255, 255, 255, 0.295); 
  border-radius: 50%; 
  margin-left: 87%;
  margin-top: 15px;
  font-size: 25px;
  font-style: normal;
  background-color: transparent; 
  color: white; 
  width: 40px; 
  height: 40px;
  padding: 0; 
  cursor: pointer; 
  transition: background-color 0.1s, color 0.1s
}

button.close:hover {
  background-color: white; 
  color: black; 
}


.popup-2 {
  z-index: 99;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(119, 119, 119, 0.411);
  background-color: rgb(255, 255, 255);
}

.console {
  text-align: center;
}

.label {
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
}

#message {
  color: #ffffff;
  width: 350px;
  height: 150px;
  resize: none;
  border-radius: 4px;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #ffffff;
  font-size: 20px;
  font-weight: normal;
  outline: none;
  overflow-y: auto;
}

#message::-webkit-scrollbar {
  width: 10px; 
  height: 100%; 
}

#message::-webkit-scrollbar-track {
  background: transparent; 
}

#message::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); 
}

#message {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) transparent;
}

.error{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.send-button {
  appearance: button;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: #000000 4px 4px 0 0,#ffffff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.send-button:focus {
  text-decoration: none;
}

.send-button:hover {
  text-decoration: none;
}

.send-button:active {
  box-shadow: rgba(255, 255, 255, 0.125) 0 3px 5px inset;
  outline: 0;
}

.send-button:not([disabled]):active {
  box-shadow: #000000 2px 2px 0 0, #ffffff 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 250px;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  padding: 5px;
  outline: none;
  font-size: 20px;
  color: white; 
}

input[type="text"]:focus {
  border-color: rgb(255, 255, 255);
  font-size: 20px;
}

.user-name {
  color: #ffffff;
  display: block;
  margin-right: 155px;
  font-weight: bold;
  font-size: 23px;
  top: 10px;
}

.user-pin {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 23px;
  margin-right: 220px;
}

.receive-button {
  top: 314px;
  left : 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.scrollable {
  margin-left: 8%;
  margin-top: 5%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%; 
  word-wrap: break-word; 
}

.scrollable::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar styles */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #030303; 
}

.scrollable::-webkit-scrollbar-track {
  background: #ddd; 
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #aaa; 
  border-radius: 5px; 
}

.message-h1 {
  margin-top: -10%;
  margin-left: 10%;
  color: #ffffff;
}
.error {
  margin-left: 50%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-size: 2.0em; 
}

.message-out {
  white-space: pre-line; /* Preserve newline characters */
  line-height: 1; /* Set line height to 1 to remove extra space */
}

.error span,
.message-out span {
  margin-left: 1px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.error span{
  font-size: 0.8em; 
}

footer {
  position: absolute;
  bottom: -111px;
  left: 0;
  width: 100%;
  text-align: center;
  transition: bottom 0.3s ease; /* Add smooth transition */
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: inline-block;
  margin: 0 20px;
}

.footer-content p {
  margin: 5px 0;
}
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    width: 20px; 
    height: 20px; 
  }
  
  .social-icons img {
    width: 100%; 
    height: auto;
  }
  @media only screen and (max-width:1200px) {

    body {
      min-height: 1190px;
    }

    .send-button {
      padding: 12px 50px;
    }

    .content-s {
      width: 90%;
      max-width: 500px;
      height: 378px;
      top: 27%;
      left: 50%;
    }
    
    .content-r {
      width: 90%;
      max-width: 500px;
      height: 378px; 
      top: 73%;
      left: 50%;
    }
    
   .content-s-r{
    width:80%;
    min-width:300px;
    height: 1000px;
    top: 52%;
    left : 50%;  
    transform: translate(-50%, -50%);
    }
    
    #message {
      max-width: 500px;
      min-width: 300px;
      width: 80%;
    }

  }   
  @media only screen and (max-width:700px) {

    body {
      min-height: 1100px;
      min-width: 500px; 
      overflow-x: hidden;     
        background-color: black;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        position: absolute;
    }

    .title h1 {
      font-size: 2.5em;
      font-weight: 500;
      margin-left:40px;
      color: rgb(255, 255, 255); 
    }

    .content-s-r {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      margin-left:20px;
      background: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 20px;
      border:none;
      box-shadow: none;
  }
  

    .content-r, .content-s {
      left: 50%;
      transform: translateX(-50% );
      margin-left: 0px;
    }

    .content-r{
      position: fixed;
      min-width: 0; 
      width: 90%;
      top: 55%;
      background: linear-gradient(135deg, rgba(182, 182, 182, 0.103), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 5px;
      border:1px solid rgb(255, 255, 255);
      box-shadow: 0 2px 5px 0 rgb(255, 255, 255);
    }

    .content-s{
      position: fixed;
      width: 90%;
      min-width: 0; 
      top:10%;
      background: linear-gradient(135deg, rgba(182, 182, 182, 0.103), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 5px;
      border:1px solid rgb(255, 255, 255);
      box-shadow: 0 2px 5px 0 rgb(255, 255, 255);
    }
}