body {
  background-color: black;
  padding: 0;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  position: absolute;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body::-webkit-scrollbar {
  display: none;
}

.a-continer {
  margin-top: 350px;
  background-color: rgb(255, 255, 255);
  width: 700px;
  position: absolute;
  height: 400px;
  border-radius: 10px; /* Add a slight curve */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
  transition: box-shadow 0.3s, transform 0.3s; 
  left: 50%;
  transform: translateX(-50%);
}

.header {
  margin-top: 250px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  position: absolute; 
  z-index: 9;       
}

.title h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-left: 50px;
  color: rgb(255, 255, 255); /* Replace 'red' with your desired color */
}

.content-s {
  width: 500px;
  height: 378px;
  position: absolute; 
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);            
  border-radius: 5px;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 5px;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgb(255, 255, 255);
}

.content-r {
  width: 500px;
  height: 378px;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);         
  border-radius: 5px;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 5px;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgb(255, 255, 255);
}

.content-s-r {
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgb(255, 255, 255);
}

.popup-bg {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px;
  overflow: hidden;
  touch-action: none;
}

.popup-bg input {
  pointer-events: none; 
}

.disable-scroll {
  overflow: hidden;
}

.copy-icon {
  position: absolute;
  display: inline-block;
  margin-right: 10px;
  left: 195px;
  margin-top:100px;
  width: 20px; 
  height: 20px; 
}

.copy-icon img {
  width: 100%; 
  height: auto;
}

.copy-icon .copy-text {
  display: none;
}

.copy-icon:nth-child(1) {
  z-index: 9;
  top: 208px; 
}

.copy-icon:nth-child(2) {
  z-index: 9;
  top: 65px; 
}


.popup {
  z-index: 99;
  min-width: 400px;
  max-width: 500px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.username,
.pin {
  margin-left: 50%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.username {
  margin-top:10%;
}

.pin {
  margin-top:10%;
}

.username span,
.pin span {
  margin-left: 1px;
  font-weight: normal;
  align-items: center; 
  color: white;
}

button.close {
  border: 2px solid rgba(255, 255, 255, 0.295); 
  border-radius: 50%; 
  margin-left: 87%;
  margin-top: 10px;
  font-size: 25px;
  font-style: normal;
  background-color: transparent; 
  color: white; 
  width: 40px; 
  height: 40px;
  padding: 0; 
  cursor: pointer; 
  transition: background-color 0.1s, color 0.1s
}

button.close:hover {
  background-color: white; 
  color: black; 
}


.popup-2 {
  z-index: 99;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(119, 119, 119, 0.411);
  background-color: rgb(255, 255, 255);
}

.console {
  text-align: center;
}

.label {
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
}

#message {
  color: #ffffff;
  width: 350px;
  height: 150px;
  resize: none;
  border-radius: 4px;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #ffffff;
  font-size: 20px;
  font-weight: normal;
}

#message:focus {
  border-color: rgb(255, 255, 255);
  
}

.error{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.send-button {
  appearance: button;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: #000000 4px 4px 0 0,#ffffff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.send-button:focus {
  text-decoration: none;
}

.send-button:hover {
  text-decoration: none;
}

.send-button:active {
  box-shadow: rgba(255, 255, 255, 0.125) 0 3px 5px inset;
  outline: 0;
}

.send-button:not([disabled]):active {
  box-shadow: #000000 2px 2px 0 0, #ffffff 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 250px;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  padding: 5px;
  outline: none;
  font-size: 20px;
  color: white; 
}

input[type="text"]:focus {
  border-color: rgb(255, 255, 255);
  font-size: 20px;
}



.user-name {
  color: #ffffff;
  display: block;
  margin-right: 155px;
  font-weight: bold;
  font-size: 23px;
  top: 10px;
}

.user-pin {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 23px;
  margin-right: 220px;
}

.receive-button {
  top: 314px;
  left : 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.scrollable {
  margin-left: 8%;
  margin-top: 5%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%; /* Fixed width */
}

.scrollable::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar styles */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #030303; /* thumb and track colors */
}

.scrollable::-webkit-scrollbar-track {
  background: #ddd; /* track color */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #aaa; /* thumb color */
  border-radius: 5px; /* roundness of the thumb */
}

.message-h1 {
  margin-top: -5%;
  margin-left: 5%;
  color: #ccc;
}
.error {
  margin-left: 50%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-size: 2.0em; 
}

.error span,
.message-out span {
  margin-left: 1px;
  font-weight: normal;
  align-items: center; 
  color: rgb(255, 255, 255);
  font-size: 0.8em; 
}

footer {
  position: absolute;
  bottom: -111px;
  left: 0;
  width: 100%;
  text-align: center;
  transition: bottom 0.3s ease; /* Add smooth transition */
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: inline-block;
  margin: 0 20px;
}

.footer-content p {
  margin: 5px 0;
}
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    width: 20px; 
    height: 20px; 
  }
  
  .social-icons img {
    width: 100%; 
    height: auto;
  }
  @media only screen and (max-width:1200px) {

    body {
      min-height: 1190px;
    }

    .send-button {
      padding: 12px 50px;
    }

    .content-s {
      min-width: 400px;
      width: 90%;
      max-width: 500px;
      height: 378px;
      top: 27%;
      left: 50%;
    }
    
    .content-r {
      min-width: 400px;
      width: 90%;
      max-width: 500px;
      height: 378px; 
      top: 73%;
      left: 50%;
    }
    
    .content-s-r {
      width:80%;
      min-width:300px;
      height: 1000px;
      top: 52%;
      left : 50%;  
      transform: translate(-50%, -50%);
    }
    
    #message {
      max-width: 500px;
      min-width: 300px;
      width: 80%;
    }

  }   
  @media only screen and (max-width:700px) {

    body {
      min-height: 1100px;
      min-width: 420px; 
      max-width: 100vw; 
        overflow-x: hidden;     
    }

    .title h1 {
      font-size: 2.5em;
      font-weight: 500;
      margin-left: 15px;
      color: rgb(255, 255, 255); 
    }

    .content-s-r {
      top: 53%;
      width: 400px;
      background: black;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 0;
      border:none;
      box-shadow: none;
    }

    .content-s, .content-r {
      left: 50%;
      transform: translateX(-50% );
      margin-left: 20px;
    }

    .content-r{
      position: fixed;
      min-width: 0; 
<<<<<<< HEAD
      width: 100%;
=======
      width: 95%;
>>>>>>> b0c2ef7b532da1e21757b88280d9885d03eb38df
      top: 50%;
      background: linear-gradient(135deg, rgba(182, 182, 182, 0.103), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 5px;
      border:1px solid rgb(255, 255, 255);
      box-shadow: 0 2px 5px 0 rgb(255, 255, 255);
    }

    .content-s{
      position: fixed;
<<<<<<< HEAD
      width: 100%;
=======
      margin-left: 5%;
      transform: translateX(-50%);
      width: 95%;
>>>>>>> b0c2ef7b532da1e21757b88280d9885d03eb38df
      min-width: 0; 
      top:5%;
      background: linear-gradient(135deg, rgba(182, 182, 182, 0.103), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 5px;
      border:1px solid rgb(255, 255, 255);
      box-shadow: 0 2px 5px 0 rgb(255, 255, 255);
    }
}
