<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="">
    <meta name="viewport" content="width=device-width">
    <title>Just Share</title>
    <link rel="icon" href="https://i.imgur.com/qZZktEv.png" type="image/png">
    <meta name="description" content="Share files and text instantly and securely without logins or pop-ups. Experience the easiest way to collaborate online with our hassle-free sharing website. Try it now!">
    <meta property="og:title" content="Just Share">
    <meta property="og:description" content="Share text and files instantly without logins or pop-ups.">
    <meta property="og:image" content="https://i.imgur.com/qZZktEv.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://justshare.dhanush.online/">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-home.css') }}">
</head>
<body>
  <header>
    <div class="title">
      <h1><span>JUST SHARE</span></h1>
    </div>
  </header>
  <div class="a-container">
    <div class="a-container-text">
      <h1>Share text & links</h1>
      <p>Datas only visible for 24 hours. If any server related maintenance happens, the data will be deleted.</p>
      <button class="send-text" onclick="window.location.href = 'https://justshare.pythonanywhere.com/text';">SHARE TEXT</button>
  </div>
  <div class="a-container-file">
      <h1>Share files</h1>
      <p>You can send files up to 10MB. This limit is temporary; Files only visible for 3 hours.</p>
      <button class="send-text" onclick="window.location.href = 'https://justshare.pythonanywhere.com/files';">SHARE FILES</button>
  </div>  
</div>
     <footer id="footer">
      <div class="footer-content">
        <div id="copyright" class="footer-content bottom-left">
          <p>© MIT.</p>
          <p>Powered by the Admin</p>
        </div>
      
        <div id="call" class="footer-content center">
          <p>Call</p>
          <p>+91 8248417774</p>
        </div>
      
        <div id="write" class="footer-content center">
          <p>Write</p>
          <p>dhanush@tutanota.de</p>
        </div>
      
        <div id="follow" class="footer-content bottom-right">
          <p>Follow</p>
          <div class="social-icons">
            <a href="https://github.com/dhanushl0l"><img src="https://i.imgur.com/IWeLPG8.png" class="icon" alt="github"></a>
            <a href="https://twitter.com/dhanu_off"><img src="https://i.imgur.com/dechEE2.png" class="icon" alt="Twitter"></a>
            <a href="https://www.linkedin.com/in/dhanush-a506b6297/"><img src="https://i.imgur.com/3ZaxRaZ.png" class="icon" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/i_am_the_bad.one/"><img src="https://i.imgur.com/CyfeGIv.png" class="icon" alt="Instagram"></a>
        </div>    
        </div>
      </div>
      </footer>
      <script>
</script>
</body>
</html>
