<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Just Share</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon" sizes="16x16 24x24 32x32 48x48 64x64 72x72 80x80 96x96 128x128 256x256">
    <meta name="description" content="Share files and text instantly and securely without logins or pop-ups. Experience the easiest way to collaborate online with our hassle-free sharing website. Try it now!">
    <meta name="keywords" content="file sharing, text sharing, instant file sharing, justshare, just share, no login file sharing, no login text sharing, no login link sharing, hassle-free collaboration, online collaboration, share files online, share text online">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Just Share">
    <meta property="og:description" content="Share text and files instantly without logins or pop-ups.">
    <meta property="og:image" content="https://i.imgur.com/meIdyJx.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">      
    <meta property="og:url" content="https://justshare.cloud/">
    <meta property="og:type" content="website">

    <!-- Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Just Share",
        "url": "https://justshare.cloud/",
        "description": "Share files and text instantly and securely without logins or pop-ups. Experience the easiest way to collaborate online with our hassle-free sharing website.",
        "image": "https://i.imgur.com/meIdyJx.png"
    }
    </script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-home.css') }}">
</head>
<body>
  <header>
    <div class="title">
      <h1><span>JUST SHARE</span></h1>
    </div>
    <div class="nav">
      <nav>
        <ul>
            <li><a href="/text">text</a></li>
            <li><a href="/files">files</a></li>
            <li><a href="/info">info</a></li>
        </ul>
    </nav>
  </div>
  </header>
  <div class="a-container">
    <div class="a-container-text">
        <h1>Share text & links</h1>
        <p>Data is only visible for 24 hours. If any server-related maintenance happens, the data will be deleted.</p>
        <button class="send-text" onclick="window.location.href='/text'">SHARE TEXT</button>
    </div>
    <div class="a-container-file">
        <h1>Share files</h1>
        <p>You can send files up to 10MB. This limit is temporary; files are only visible for 3 hours.</p>
        <button class="send-text" onclick="window.location.href='/files'">SHARE FILES</button>
    </div>  
</div>
     <footer id="footer">
      <div class="footer-content">
        <div id="copyright" class="footer-content bottom-left">
          <p>© MIT.</p>
          <p>Powered by the Admin</p>
        </div>
      
        <div id="call" class="footer-content center">
          <p>Call</p>
          <p>+91 8248417774</p>
        </div>
      
        <div id="write" class="footer-content center">
          <p>Write</p>
          <p>dhanush@tutanota.de</p>
        </div>
      
        <div id="follow" class="footer-content bottom-right">
          <p>Follow</p>
          <div class="social-icons">
            <a href="https://github.com/dhanushl0l"><img src="https://i.imgur.com/IWeLPG8.png" class="icon" alt="github"></a>
            <a href="https://twitter.com/dhanu_off"><img src="https://i.imgur.com/dechEE2.png" class="icon" alt="Twitter"></a>
            <a href="https://www.linkedin.com/in/dhanush-a506b6297/"><img src="https://i.imgur.com/3ZaxRaZ.png" class="icon" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/i_am_the_bad.one/"><img src="https://i.imgur.com/CyfeGIv.png" class="icon" alt="Instagram"></a>
        </div>    
        </div>
      </div>
      </footer>
      <script>
</script>
</body>
</html>
