<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive Message</title>
</head>
<body>
    <h1>Receive Message</h1>
    <form action="/receive" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pin">PIN:</label><br>
        <input type="text" id="pin" name="pin"><br>
        <input type="submit" value="Receive">
    </form>
</body>
</html>
